version: "3.8"
services:
  frontend:
    image: my-frontend
    restart: always
    ports:
      - 5173:5173

  backend:
    image: my-backend
    restart: always
    ports:
      - 3030:3030
    depends_on:
      - postgres

  postgres:
    image: postgres
    container_name: petProjectBD
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=Denys7227221
      - POSTGRES_DB=postgres-nest
    restart: always

  redis:
    image: redis:alpine3.14
    container_name: redis-petProject
    ports:
      - "6379:6379"
